@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
}

body {
    background-color: #222222;
    .container {
        position: relative;
        max-width: 600px;
        margin: 0 auto;

        header {
            width: 100%;
            padding: 20px 0;
            border-bottom: 1px solid white;
            margin-bottom: 10px;
            .header__overview {
                display: flex;
                justify-content: space-between;
                #filter {
                    &-genre {
                        padding: 10px;
                        width: 25%;
                        border-radius: 10px;
                        border: 2px solid white;
                        background-color: #222222;
                        color: white;
                    }
                    &-price, &-rating {
                        padding: 10px;
                        width: 20%;
                        border-radius: 10px;
                        border: 2px solid white;
                        background-color: #222222;
                        color: white;
                        
                    }
                }
            }
            .header__cart {
                display: flex;
                justify-content: space-between;
                width: 100%;
                color: white;
                h2 {
                    width: 75%
                }
                #back-button {
                    padding: 10px;
                    width: 10%;
                    border-radius: 10px;
                    border: 2px solid white;
                    background-color: #222222;
                    color: white;
                }
                #clear-button {
                    padding: 10px;
                    width: 15%;
                    margin-right: 10px;
                    border-radius: 10px;
                    border: 2px solid white;
                    background-color: #222222;
                    color: white;
                }
            }
        }
        &__overview, &__cart {
            .list-items, .cart-items {
                .list-item, .cart-item {
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    padding: 10px;
                    padding-right: 15px;
                    border-radius: 10px;
                    border: 1px solid white;
                    margin-bottom: 10px;
                    color: white;

                    &__input {
                        width: 10%;
                        display: flex;
                        justify-content: center;
                        position: relative;
                    }
                    &__button {
                        text-align: center;
                        padding: 0px;
                        background: #222222;
                        color: white;
                        border: 0;
                        font-size: 25px;
                        font-weight: 300;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-bottom: 4px;
                        cursor: pointer;
                    }
                    &__content {
                        display: flex;
                        flex-direction: column;
                        width: 75%;

                        &-top {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }
                        &-bottom {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            gap: 20px;
                        }
                    }
                    &__genre {
                        width: 50%;
                    }
                    &__rating {
                        width: 50%;
                    }
                    &__price {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 15%;
                    }
                }
            }
            &-button {
                display: flex;
                justify-content: flex-end;
                width: 100%;
                padding: 20px 0;
                border-top: 1px solid white;
                
                button {
                    padding: 10px;
                    background-color: #222222;
                    border-radius: 10px;
                    border: 2px solid white;
                    color: white;
                }
            }
        }
        &__overview {
            .overview-empty-text {
                display: none;
                text-align: center;
                font-size: 20px;
                color: white;
                margin: 40px 0;
            }
        }
        &__cart {
            .cart-empty-text {
                display: none;
                text-align: center;
                font-size: 20px;
                color: white;
                margin: 40px 0;
            }
        }
        .popUp {
            top: -30px;
            left: -80px;
            max-width: 400px;
            width: 400px;
            position: absolute;
            display: flex;
            transition: opacity .5s ease;
            p {
                background: white;
                color: #222222;
                padding: 10px;
                border-radius: 10px;
                border: 2px solid #222222;
                font-size: 12px;
            }
        }
    }
}

