@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Lexend", sans-serif;
}

body {
  background-color: #222222;
}
body .container {
  max-width: 600px;
  margin: 0 auto;
}
body .container header {
  display: flex;
  padding: 20px 0;
  margin-bottom: 10px;
  justify-content: space-between;
  border-bottom: 1px solid white;
}
body .container header #filter-genre {
  padding: 10px;
  width: 20%;
  border-radius: 10px;
  border: 2px solid white;
  background-color: #222222;
  color: white;
}
body .container header #filter-price {
  padding: 10px;
  width: 20%;
  border-radius: 10px;
  border: 2px solid white;
  background-color: #222222;
  color: white;
}
body .container__overview .list-items .list-item, body .container__overview .list-items .cart-item, body .container__overview .cart-items .list-item, body .container__overview .cart-items .cart-item, body .container__cart .list-items .list-item, body .container__cart .list-items .cart-item, body .container__cart .cart-items .list-item, body .container__cart .cart-items .cart-item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-right: 15px;
  border-radius: 10px;
  border: 1px solid white;
  margin-bottom: 10px;
  color: white;
}
body .container__overview .list-items .list-item__input, body .container__overview .list-items .cart-item__input, body .container__overview .cart-items .list-item__input, body .container__overview .cart-items .cart-item__input, body .container__cart .list-items .list-item__input, body .container__cart .list-items .cart-item__input, body .container__cart .cart-items .list-item__input, body .container__cart .cart-items .cart-item__input {
  width: 10%;
  display: flex;
  justify-content: center;
}
body .container__overview .list-items .list-item__button, body .container__overview .list-items .cart-item__button, body .container__overview .cart-items .list-item__button, body .container__overview .cart-items .cart-item__button, body .container__cart .list-items .list-item__button, body .container__cart .list-items .cart-item__button, body .container__cart .cart-items .list-item__button, body .container__cart .cart-items .cart-item__button {
  text-align: center;
  padding: 0px;
  background: #222222;
  color: white;
  border: 0;
  font-size: 25px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4px;
  cursor: pointer;
}
body .container__overview .list-items .list-item__content, body .container__overview .list-items .cart-item__content, body .container__overview .cart-items .list-item__content, body .container__overview .cart-items .cart-item__content, body .container__cart .list-items .list-item__content, body .container__cart .list-items .cart-item__content, body .container__cart .cart-items .list-item__content, body .container__cart .cart-items .cart-item__content {
  display: flex;
  flex-direction: column;
  width: 75%;
}
body .container__overview .list-items .list-item__content-top, body .container__overview .list-items .cart-item__content-top, body .container__overview .cart-items .list-item__content-top, body .container__overview .cart-items .cart-item__content-top, body .container__cart .list-items .list-item__content-top, body .container__cart .list-items .cart-item__content-top, body .container__cart .cart-items .list-item__content-top, body .container__cart .cart-items .cart-item__content-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .container__overview .list-items .list-item__content-bottom, body .container__overview .list-items .cart-item__content-bottom, body .container__overview .cart-items .list-item__content-bottom, body .container__overview .cart-items .cart-item__content-bottom, body .container__cart .list-items .list-item__content-bottom, body .container__cart .list-items .cart-item__content-bottom, body .container__cart .cart-items .list-item__content-bottom, body .container__cart .cart-items .cart-item__content-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
body .container__overview .list-items .list-item__genre, body .container__overview .list-items .cart-item__genre, body .container__overview .cart-items .list-item__genre, body .container__overview .cart-items .cart-item__genre, body .container__cart .list-items .list-item__genre, body .container__cart .list-items .cart-item__genre, body .container__cart .cart-items .list-item__genre, body .container__cart .cart-items .cart-item__genre {
  width: 50%;
}
body .container__overview .list-items .list-item__rating, body .container__overview .list-items .cart-item__rating, body .container__overview .cart-items .list-item__rating, body .container__overview .cart-items .cart-item__rating, body .container__cart .list-items .list-item__rating, body .container__cart .list-items .cart-item__rating, body .container__cart .cart-items .list-item__rating, body .container__cart .cart-items .cart-item__rating {
  width: 50%;
}
body .container__overview .list-items .list-item__price, body .container__overview .list-items .cart-item__price, body .container__overview .cart-items .list-item__price, body .container__overview .cart-items .cart-item__price, body .container__cart .list-items .list-item__price, body .container__cart .list-items .cart-item__price, body .container__cart .cart-items .list-item__price, body .container__cart .cart-items .cart-item__price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}
body .container__overview-button, body .container__cart-button {
  display: flex;
  padding: 20px 0;
  justify-content: flex-end;
  border-top: 1px solid white;
}
body .container__overview-button button, body .container__cart-button button {
  padding: 10px;
  background-color: #222222;
  border-radius: 10px;
  border: 2px solid white;
  color: white;
}/*# sourceMappingURL=style.css.map */